.en_tete{
    display:flex;
    height:100vh;
    background-color: aliceblue;
    background-image: url('Ressource_image/image\ provence.jpg');
    background-size:cover;
}

.main-wrapper{
    margin:5%;
    background-color: rgba(255, 255, 255, 0.164);
    box-shadow: 0px 0px 5px;

    width: 100%;
    height:200vh;
}

.social-menu{

}

.social-menu img{
    background-color: aquamarine;
    border-radius: 1em;
}

.logo{

}

.contenu-en_tete{
    height:75vh;
    justify-content: end;
    align-items: flex-end;
    /* background-color: rgba(250, 128, 114, 0.548); */
    text-align:right;
}

.description_site{
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: flex-end;
    width:75%;
    border-right:rgba(255, 102, 0, 0.849) 3px solid;
    margin:20px;
    padding:0 20px;
 



}

.description_site *{
    color:white;
}

.description_site h1{
font-size:3em;
font-weight: bold;
margin:0;
padding:0;
}
.description_site p{
    text-align:right;
}
.description_site button{
    background-color: rgb(255, 102, 0);
}

.description_site .description{
    width:50%;

}