:root{
    --couleur1:rgba(255, 102, 0, 0.849);
    --couleur2:rgb(24, 105, 119);
}

.en_tete{
    display:flex;
    height:100vh;
    background-color: aliceblue;
    background-image: url('Ressource_image/image\ provence.jpg');
    background-size:cover;
}

.main-wrapper{
    margin:5%;
    margin-top:2%;
    background-color: rgba(255, 255, 255, 0.164);
    box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 10px 1px;

    width: 100%;
    height:200vh;
}

.social-menu{
    
}

.social-menu img{
    background-color: aquamarine;
    border-radius: 2em;
    width:4em;
 
}

.logo{
    margin:0;
    display:flex;
    justify-content: flex-end;
}

.logo img{
    margin:0;
    width: 35%;
    height:100%;
    max-width: 150px;
}

.contenu-en_tete{
    height:70vh;
    justify-content: end;
    align-items: flex-end;
    /* background-color: rgba(250, 128, 114, 0.548); */
    text-align:right;
}

.description_site{
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: flex-end;
    width:75%;
    border-right:var(--couleur1) 3px solid;
    margin-right:10%;
    margin-bottom:10%;
    padding:0 20px;

}

.description_site *{
    color:white;
}

.description_site h1{
font-size:3em;
font-weight: bold;
margin:0;
padding:0;
}

.description_site p{
    text-align:right;
    max-width:50%;

}

.description_site button{
    background-color: var(--couleur1);
    color:white;
}

.description_site .description{
    width:50%;

}

.info_lieu{
    display:flex;
    padding:20px;
    background-color: white;
    border-radius:1em;
    box-shadow: rgba(0, 0, 0, 0.233) 0px 0px 30px ;
    flex-direction: row;
    align-items:flex-end;
    width:80%;
}

.info_lieu_img{
    width:25%;
    background-color: royalblue;
    height:200ox;
}

.info_lieu_text{
    display:flex;
    flex-direction: column;
}


.text_entete{
    color:var(--couleur1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.text_titre{
    color:var(--couleur2);
    font-weight: bold ;
    font-size:1.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.info_lieu p{
width:50%;
}

.info_lieu button{
text-align:center;
background-color: var(--couleur1);
width:20%;
color:white;

}

.info_membre{
    display:flex;
    padding:20px;
    background-color: white;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.233) 0px 0px 30px ;
    flex-direction: row;
    align-items:flex-end;
    width:80%;
    text-align:right;
    
}


.info_membre_text{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-end;
    margin-right:20px;
    width: 75%;
}
.info_membre_img{
    width:25%;
    background-color: royalblue;
    height:100%;
    background-image: url('Ressource_image/equipe_bilal.png');
    background-size: cover;
}






.info_membre p{
width:50%;
}

.info_membre button{
text-align:center;
background-color: var(--couleur1);
width:20%;
color:white;
}

.separator_container{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.separator{
display: flex;
align-items: center;
}

.separator img{
    width:5em;
}

.separator_line{
    border-top: 5px solid var(--couleur1);
    width: 100%;
    height:0;
    margin:5px;
    background-color: rgba(255, 0, 0, 0.315);
    border-radius: 2em;
}

.info_burreau{
    display:flex;
    padding:20px;
    background-color: white;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.233) 0px 0px 30px ;
    flex-direction: row;
    align-items:flex-end;
    width:80%;
    text-align:right;
    
}

.info_burreau_img{
    display: flex;
    background-color: royalblue;
    height:100%;
    width:100px;
}

.info_burreau_img img{

}

.info_burreau_text{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-end;
}


.info_burreau p{
width:50%;
}

.info_burreau button{
text-align:center;
background-color: var(--couleur1);
width:20%;
color:white;
}