:root{
    --couleur1:rgba(255, 102, 0, 0.849);
    --couleur2:rgb(24, 105, 119);
}

/* DECLARATION VARIABLE CI DESSUS */


.text_entete{
    color:var(--couleur1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 1.3em;
}

.text_titre{
    color:var(--couleur2);
    font-weight: bold ;
    font-size:1.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.text-corps{
    max-width:50%;
}

.bouton-standard{
    background-color: var(--couleur1);
    color:white;
    border-radius:0.5em;
    font-weight:bold;
}

/* CLASS GENERAL  */

.en_tete{
    display:flex;
    height:100vh;
    background-color: aliceblue;
    background-image: url('Ressource_image/nature.jpg');
    background-size:cover;
}

/* MAIN EN_TETE */

.main-wrapper{
    margin:5%;
    margin-top:2%;
    background-color: rgba(255, 255, 255, 0.164);
    box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 10px 1px;

    width: 100%;
    height:350vh;
}

/* CONTENEUR VITRE  */

.social-menu{
    
}

.social-menu img{
    background-color: aquamarine;
    border-radius: 2em;
    width:3.5em;
    box-shadow: 0px 0px 2px;
    cursor:pointer;
}

.menu-principal{
    font-family: Arial, Helvetica, sans-serif;
    
}

.menu-principal ul{

}

.menu-principal li{
    height:100%;
}

.menu-principal a{
    font-weight: bold;
    font-size: 1.3em;
}

.menu-principal a:hover{
    background-color: rgba(240, 248, 255, 0.521);
    font-size: 1.3em;
    height:100%;

}


.logo{
    margin:0;
    display:flex;
    justify-content: flex-end;
}

.logo img{
    margin:0;
    width: 35%;
    height:100%;
    max-width: 150px;
}

/* BARRE DU HAUT ^ */

.contenu-en_tete{
    height:75vh;
    justify-content: end;
    align-items: flex-end;
    text-align:right;
}

/* CONTENU GENERAL HAUT DU SITE  */

.description_site{
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: flex-end;
    width:75%;
    border-right:var(--couleur1) 3px solid;
    margin-right:15%;
    margin-bottom:7%;
    padding:0 20px;

}

.description_site *{
    color:white;
}

.description_site h1{
font-size:3em;
font-weight: bold;
margin:0;
padding:0;
}

.description_site p{
    text-align:right;

}

.description_site button{
    background-color: var(--couleur1);
    color:white;
}

.description_site .description{
    width:50%;

}

/* TEXTE DE L'EN TETE */

/* PREMIERE SECTION  */
.info_lieu{
    display:flex;
    padding:20px;
    background-color: white;
    border-radius:1em;
    box-shadow: rgba(0, 0, 0, 0.233) 0px 0px 30px ;
    flex-direction: row;
    align-items:flex-end;
    width:80%;
}

.info_lieu_img{
    width:25%;
    background-color: royalblue;
    height:200ox;
}

.info_lieu_text{
    display:flex;
    flex-direction: column;
}


.info_lieu button{
text-align:center;
background-color: var(--couleur1);
width:20%;
color:white;

}

/* DEUXIEME SECTION */

.info_membre{
    display:flex;
    padding:20px;
    background-color: white;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.233) 0px 0px 30px ;
    flex-direction: row;
    align-items:flex-end;
    width:80%;
    text-align:right;
    padding-bottom: 0px;

    
}

.info_membre_text{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-end;
    margin-right:20px;
    width: 75%;
    height:100%;
}
.info_membre_img img{
    width:20%;
}

.info_membre_img img{
    height:75%;
    width: 100%;
    margin-bottom:15px;
}

.info_membre button{
text-align:center;
background-color: var(--couleur1);
width:20%;
color:white;
}

.info_membre_passion{
    margin-top:20px;
    display:flex;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    width:100%;
}

.info_membre_passion table{
    background-color: slategrey;
    margin-right:10%;

}

.info_membre_passion table tr td{

color:white;
padding:15px;
}

.info_membre_passion table td *{
    margin:15px;
}

.separator_container{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.separator{
display: flex;
align-items: center;
}

.separator img{
    width:5em;
}

.separator_line{
    border-top: 5px solid var(--couleur1);
    width: 100%;
    height:0;
    margin:5px;
    /* background-color: rgba(255, 0, 0, 0.315); */
    border-radius: 0.2em 0.2em;
}

/* TROISIEME SECTION  */

.info_burreau{
    display:flex;
    padding:20px;
    background-color: white;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.233) 0px 0px 30px ;
    flex-direction: row;
    align-items:flex-end;
    justify-content: flex-end;
    width:80%;
    text-align:right;
   
    
}

.info_burreau_img{
    display: flex;
    height:100%;
    background-color: teal;
}

.info_burreau_img img{
    margin-right:10px;
}

.info_burreau_text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    background-color: rgba(24, 228, 109, 0.76);
    height: 100%;
    width: 100%;
}


.info_burreau p{
}

.info_burreau button{
text-align:center;
background-color: var(--couleur1);
color:white;
}

/* QUATRIEME SECTION  */

.info_conclusion{
    display:flex;
    padding:20px;
    flex-direction: row;
    align-items:center;
    width:80%;
    justify-content: center;
    text-align:center;
    
}


.info_conclusion_text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


.info_conclusion p{
width:50%;
}

.info_conclusion button{
text-align:center;
background-color: var(--couleur1);
width:20%;
color:white;
}


/* FOOTER  */

footer{
    margin-top:100px;
    background-image: url('Ressource_image/vagues.png');
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
}