*{
    scroll-behavior: smooth !important;
    padding: 0;
  }

body{
    background-image: url("Ressource_image/Liberté.jpeg");
    background-position: 50%, 50%;
}

a:hover{
    text-decoration: none;
    color:black;

}

.en_tete{
    height:100vh;
    box-shadow: black inset 0px 0px 40%;
}

.speech_container{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 23%, rgba(237,255,232,1) 71%, rgba(226,255,217,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 23%, rgba(237,255,232,1) 71%, rgba(226,255,217,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 23%, rgba(237,255,232,1) 71%, rgba(226,255,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e2ffd9",GradientType=1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    box-shadow: rgb(0, 0, 0) 0 0 10px;
    width: 100%;
    max-height: 100vh;
}




.main_title{
    background: rgb(161,219,212);
    background: -moz-linear-gradient(0deg, rgba(161,219,212,1) 0%, rgba(0,194,158,1) 7%, rgba(253,255,255,1) 97%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(161,219,212,1) 0%, rgba(0,194,158,1) 7%, rgba(253,255,255,1) 97%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(161,219,212,1) 0%, rgb(182, 253, 168) 7%, rgba(253,255,255,1) 97%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a1dbd4",endColorstr="#ffffff",GradientType=1); 
    font-style: italic;
    text-shadow: white 0 0 5px,black 0 0 3px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 0.5em;
    box-shadow: rgb(222, 248, 187) 0 5px 10px ;
    font-weight: bold;
    margin: 0;
}

#intro{
    overflow: hidden;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 23%, rgba(237,255,232,1) 86%, rgba(222,247,214,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 23%, rgba(237,255,232,1) 86%, rgba(222,247,214,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 23%, rgba(237,255,232,1) 86%, rgba(222,247,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#def7d6",GradientType=1);
    margin:0;
 padding:0.2em;
    box-shadow: black 0 10px 10px -5px;
}

#intro h1{
    text-shadow: rgb(255, 255, 255) 0px 0px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.speech_container ul{

box-shadow: rgb(255, 255, 255) inset 0px 5px 15px -10px;
}
.control-button{
    background: rgb(161,219,212);
    background: -moz-linear-gradient(0deg, rgba(161,219,212,1) 0%, rgba(0,194,158,1) 7%, rgba(253,255,255,1) 97%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(161,219,212,1) 0%, rgba(0,194,158,1) 7%, rgba(253,255,255,1) 97%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgb(164, 243, 234) 0%, rgb(182, 253, 168) 7%, rgba(253,255,255,1) 97%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a1dbd4",endColorstr="#ffffff",GradientType=1); 
    transition: all 0.2s;
    box-shadow: black 0 3px 3px -2px;
}

.control-button:hover{
    box-shadow: black 0 0 1px -1px;
}

.control-button:active{
    box-shadow: inset black  0 0 5px 0.2px;
}

.speech_container *{

}

.speech_container p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 1em;

}

.speech_container li{
    text-align: center;
    text-shadow: white 0 0 3px,black 0 0 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 1em;
}

#toggler{
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.479) 0 5px 5px;
    cursor: pointer;
    padding: 0.4em;
    border-radius: 0.2em 0.2em;
    transition: all 2s;
    background-color: rgb(216, 253, 186);

}
#toggler:hover{

    box-shadow: rgba(17, 17, 17, 0.479) 0 1px 10px,rgba(0, 0, 0, 0.479) inset 0 0px 2px;
    font-size: 1.0em;
    border-radius: 0 1em 0 1em;
}

#ou{
    display: none;
}

.header_diapo{
    display: flex;
    height:70px;
    justify-content: space-between;
}

.control_panel{
display: flex;
}

.title_panel{

}


.ligne{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-type: y proximity;
}

.ligne img{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: blur(2px);
}

.shrink-content{
    width: 75%;
    height:75%;
    box-shadow: black 0 0 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#diapositive-ligne1-1{
    height:0;
    width:0;
    opacity: 0;
}

.diapo{
    height: 100%;
    width: 100%;
}
#diapo-show::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#diapositive-ligne1-1{
    background-image: url('Ressource_image/spring-276014_1920.jpg');background-size: 150%;
}
#diapositive-ligne2-2{
    background-image: url('Ressource_image/Trefle_naissance.jpg');background-size: 150%;
}

#diapo1 *{
    display: none;
}

#diapo2{
    /* background-image: url('Ressource_image/Ceux\ qui\ prétend\ détenir\ la\ vérité.PNG'); */
}

.carousel-container{
    width: 75%;
    height: 75%;
}

.carousel-container .carousel-item{
    height:100%;
    width: 100%;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 
}

.carousel_control{
    opacity: 0;
    width: 10%;
}
.carousel_control:hover{
    width: 10%;
    box-shadow: black 0px 0 10px 1px;
}
.carousel_control:focus{
    opacity: 0;
    box-shadow: black 0 0 10px 1px;
}
.carousel_control:focus:hover{
    opacity: 0.7;
    width: 10%;
    box-shadow: black 0 0 10px 1px;
}

.carousel-indicators li{
 
}

.icon{
    border-radius: 1em;
    box-shadow: rgb(255, 255, 255) 0 20px 20px;
}

.icon:hover{

}

.slide{
    height:100%;
    width: 100%;

}

.carousel-container .carousel-inner{
    height:100%;
    width: 100%;
    text-shadow: black 0 0 5px,black 0 0 2px,black 0 0 10px,black 0 0 20px;
}

.description{
    font-size: large;
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-shadow: white 0 0 5px;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: blueviolet;
}

.button-container button{
}